@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.back-img {
    background: url(./img/hero-img.svg) no-repeat center center / cover;
    height: 565px;  
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.img-nav {
    display: none;
}

.line {
    color: #FFFFFF;
}

.navlinks {
    color: #FFFFFF;
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;

}

.navlinks a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
}

.nav-btn {
    padding: 15px 24px;
    gap: 12px;
    border-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
}

.btn-img {
    width: 20px;
    height: 20px;
}

.nav-p {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.heading-hero {
    text-align: center;
    color: #FFFFFF;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.bar-phara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.bar {
    width: 150px;
    height: 4px;
    background-color: #E03740;
}

.phara-1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: center;
    color: #141515;
    width: 745px;
    height: 120px;

}

.section-1-img img {
    width: 100%;
    height: auto;
}

.parent {
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}

.child-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.child-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sec-2head1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    width: 209px;
    height: 40px;
    color: #141515;
}

.client {
    text-align: center;
    color: #141515;
}

.expedited {
    text-align: center;
    color: #141515;
}

.quality {
    text-align: center;
    color: #141515;
}

.qetailed {
    width: 463px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: center;
    color: #141515;
}

.sec-2head2 {
    text-align: center;
    color: #141515;
}

.project {
    text-align: center;
    color: #141515;
}

.Jersey {
    width: 463px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: center;
    color: #141515;
}

.section-2 {
    padding-top: 42px;
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.deep {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #141515;
}

.section-3 {
    background-image: url(./img/bridge-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 div h2 {
    font-size: 112px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 70px;
}

.section-4 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.sec-4text {
    display: flex;
    flex-direction: column;
}

.mechanical {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 150px;
    color: #141515;
}

.calculation {
    color: #141515;
}

.selection {
    color: #141515;
}

.ductwork {
    color: #141515;
}

.energy {
    color: #141515;
}

.images {
    display: flex;
    flex-direction: row;
}

.section4-images {
    display: flex;
    flex-direction: column;
}

.section-4 div h3 {
    font-size: 24px;
    font-weight: 700;
    color: #141515;
}

.section-4 div p span {
    font-size: 18px;
    font-weight: 700;
    color: #141515;
}

.section-5 {
    width: 1140px;
    padding-block: 88px;
    padding-left: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section5-images {
    display: flex;
    flex-direction: column;
}

.section-5 div h3 {
    font-size: 24px;
    font-weight: 700;
    color: #141515;
}

.section-5 div p {
    font-size: 18px;
    font-weight: 300;
    color: #141515;
}

.images2 {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 9px;
}

.section-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec-6text {
    display: flex;
    flex-direction: column;
}

.plumbing {
    color: #141515;
    width: 104px;
    height: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.potable {
    color: #141515;
}

.wastewater {
    color: #141515;
}

.hot {
    color: #141515;
}

.gas {
    color: #141515;
}

.section-6 div h3 {
    font-size: 24px;
    font-weight: 700;
    color: #141515;
}

.section-6 div p span {
    font-size: 18px;
    font-weight: 700;
    color: #141515;
}

.section-6 div p {
    font-size: 18px;
    font-weight: 300;
    color: #141515;
}

.images3 {
    display: flex;

}

.sec6-img1 img {
    width: 243px;
    height: 229px;
    top: -5px;
}

.sec6-img2 img {
    width: 242px;
    height: 213;
    top: -10px;
}

.section-7 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    height: 432px;
    padding-inline: 60px;
    gap: 56px;
}

.textare1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.voltage {
    text-align: center;
    color: #141515;
}

.electronics {
    text-align: center;
    color: #141515;
}

.network {
    text-align: center;
    color: #141515;
}

.wireless {
    text-align: center;
    color: #141515;
}

.structured {
    text-align: center;
    color: #141515;
}

.vertical {
    text-align: center;
    color: #141515;
}

.distribution {
    text-align: center;
    color: #141515;
}

.telecommunications {
    text-align: center;
    color: #141515;
}

.textare2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.security {
    text-align: center;
    color: #141515;
}

.alarms {
    text-align: center;
    color: #141515;
}

.closed {
    text-align: center;
    color: #141515;
}

.access {
    text-align: center;
    color: #141515;
}

.section-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    justify-content: space-between;
    padding: 72px 144px;
    background-color: #141515;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 400px;
    gap: 16px;
}

.links-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 215px;
    height: 50px;
    gap: 9px;
    padding-top: 14px;
}

.foot-haeading {
    width: 215px;
    height: 14px;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #E03740;
}

.foot-links {
    width: 104px;
    height: 20px;
    gap: 12px;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;

}

.foot-links a {
    color: #FFFFFF;
    text-decoration: none;
}

.sub1 {
    width: 215px;
    height: 50px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #E03740;
    width: 215px;
    height: 14px;
}

.jersey {
    width: 215px;
    height: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
    color: #FFFFFF;
}

.sub2 {
    width: 174;
    height: 50;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.contacts {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #E03740;
    width: 174px;
    height: 14px;
}

.link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.section-1-img {
   padding-inline: 20px;
 }
@media (max-width: 768px) {
    .back-img {
        height: 376px;
    }

    .navbar {
        flex-direction: row-reverse;
        padding: 10px;
    }

    .navlinks {
        flex-direction: row;
        gap: 5px;
    }
    .nav-btn{
        display: none;
    }

    .heading-hero h2 {
        font-size: 30px;
        margin-top: -50px;
    }

    .parent {
        flex-direction: column;
        gap: 30px;
        /* padding-left: 40px; */
        /* padding-right: 40px; */
        margin-top: 73px;
    }

    .phara-1 {
        font-size: 16px !important;
        width: 394px !important;
        padding-top: 20px;
        font-weight: 400;
    }
    .sec-2head1,
    .sec-2head2 {
        font-size: 24px;
    }
    .quality,
    .Detailed,
    .project,
    .Jersey {
        padding-top: 30px;
        font-size: 17px !important;
        font-weight: 300;
        width: 476px;

    }
    .client {
        width: 326px;
        font-size: 16px;
        font-weight: 300;
    }
    .expedited {
        width: 300px;
        padding-top: 19px;
        font-size: 16px;
        font-weight: 300;
    }
    .Deep h2 {
        font-size: 24px;
        width: 100%;
    }

    .section-1 {
        padding-top: 60px;
    }

    .section-3 div p {
        font-size: 60px;
    }

    .section-3 {
        width: 100%;
        height: 248px;
    }
    .section-3 div h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 23px;
    }

    .section-4 {
        flex-direction: column;
        gap: 30px;
        justify-content: start;
        align-items: start;
    }
    .section-1-img {
        padding-inline: 15px;
        padding-top: 30px;
    }

    .section-5 {
        flex-direction: column-reverse;
        gap: 30px;
        justify-content: start;
        align-items: start;
        width: 94%;
    }

    .section-6 {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 94%;

    }

    .section-7 {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 94%;
    }
    .textare1 {
        gap: 20px;
        margin-top: 152px;
    }

    .section-8 {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 36%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .box {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foot-links {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;

    }

    .sub1 {
        margin-left: -5%;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;

    }

    .sub2 {
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .Mechanical,
    .Plumbing,
    .Voltage,
    .security {
        font-size: 28px;
        font-weight:700 ;
    }

    .Potable,
    .Wastewater,
    .Hot,
    .Gas,
    .electronics,
    .network,
    .Wireless,
    .Structured,
    .Vertical,
    .distribution,
    .Telecommunications,
    .Closed,
    .Access,
    .alarms {
        font-size: 16px;
    }

    .section-6,
    .section-7,
    .section-8 {
        padding: 40px 16px;
    }
    .section-5 div p {
        font-size: 16px;
        font-weight: 300;
        width: 471px;
        padding-bottom: 20px;
    }
    .footer {
        padding: 40px 16px;
    }
    .heading-hero {
        width: 200px;
        font-size: 40px;
        margin: 25% auto;
    }
    .child-1 {
        margin: auto;
        margin-top: 30px;
    }
    .locations{
        font-size: 16px;
        font-weight: 300;
        padding-top: 10px;
    }
    .section-4 div p span {
        font-size: 17px;
        font-weight: 700;
        color: #141515;
    }
    .calculation {
        color: #141515;
        font-size: 16px;
        font-weight: 300;
        width: 444px;
    }
    .selection, .ductwork, .energy  {
        font-size: 15px;
        font-weight: 300;
        width: 465px;
    }
    .sec-4text {
        gap: 20px;
        width: 490px;
    }
    .sec-6text {
        gap: 25px;
    }
    .sec4-img1 img{
        width: 236px;
    }
    .sec4-img2 img{
        width: 238px;
    }
    .sec4-img3 img{
        width: 487px;
    }
    .sec5-img3 img{
        width: 482px;
    }
    .sec-5text {
        gap: 25px;
    }
    .sec5-img1 img{
        width: 236px;
    }
    .sec5-img2 img{
        width: 236px;
    }
    .images {
        gap: 10px;
    }
    .sec8-img1 img{
        width: 466px;
    }
    .sec8-img2 img{
        width: 465px;
    }
    .textare2 {
        gap: 36px;
    }
    .voltage {
        font-size: 40px;
        font-weight: 700;
    }
 }   


@media (max-width: 480px) {
    .heading-hero h2 {
        font-size: 40px;
    }

    .phara-1 {
        font-size: 12px;
        width: 329px;
        padding-top: 20px;
    }

    .sec-2head1,
    .sec-2head2 {
        font-size: 18px; 
    }

    .Client,
    .Expedited,
    .Quality,
    .Detailed,
    .project,
    .Jersey {
        font-size: 10px; 
    }

    .section-3 div p {
        font-size: 36px; 
    }

    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8 {
        padding: 20px 10px;
    }

    .footer {
        padding: 20px 10px;
    }
}

@media (max-width: 300px) {
    .heading-hero h2 {
        font-size: 18px; 
    }

    .phara-1 {
        font-size: 10px; 
    }

    .sec-2head1,
    .sec-2head2 {
        font-size: 16px; 
    }

    .Client,
    .Expedited,
    .Quality,
    .Detailed,
    .project,
    .Jersey {
        font-size: 8px; 
    }

    .section-3 div p {
        font-size: 24px; 
    }

    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8 {
        padding: 10px 5px;
    }

    .footer {
        padding: 10px 5px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .section-1 {
        width: 1180px;
        padding: 60px 16px;
        gap: 40px;
    } 
    .navbar {
        height: 97px;
        left: 144px;
        padding: 16px 100px;
    }
    .line {
        width: 100%;
        max-width: 1066px;
        height: 1px;
        margin: 0 auto;
    }
    .heading-hero {
        margin-top: 15%;
        font-weight: 600;
        font-size: 40px !important;
        line-height: 48px;
        letter-spacing: 0%;
    }
    .child-1 {
        width: 520px;
        height: 280px;
        gap: 24px;
        
    }
    .parent {
        margin-top: 20px;
        width: 80%;
        height: 280;
        padding-inline: 144px;
        padding-bottom: 40px;
    }
    .client {
        width: 463px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .expedited {
        width: 463px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .quality {
        width: 463px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .child-2 {
        width: 520px;
        height: 184px;
        gap: 24px;
    }
    .section-3 {
        width: 100%;
        height: 406px;
    }
    .section-4 {
        width: 85%;
        height: 658px;
        padding-block: 88px;
        padding-left: 104px;
    }
    .sec-4text {
        width: 466px;
        height: 392px;
        gap: 25px;
    }
    .calculation {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 466px;
  }
  .selection, .ductwork, .energy  {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -4%;
    width: 466px;
}
.section4-images {
    width: 614px;
    height: 480px;
    gap: 8px;
}
.sec4-img1 {
    width: 301px;
    height: 207px;
    top: -5px;
}
.sec4-img2 {
    width: 305px;
    height: 213px;
    top: -10px;
}
.sec-5text {
    width: 466px;
    height: 392px;
    gap: 25px;
}
.sec-5text {
    width: 466px;
    height: 392px;
    gap: 25px;
}
.sec5-img1 {
    width: 243px;
    height: 207px;
    top: -5px;
}
.sec5-img2 {
    width: 242px;
    height: 213;
    top: -10px;
}
.sec5-img3 img {
    width: 554px;
    height: 280px;
}
.section5-images {
    width: 614px;
    height: 480px;
    gap: 8px;
}
.section-6 {
    width: 1050px;
    padding-top: 8px;
    padding-bottom: 88px;
    padding-left: 100px;
}
.sec-6text {
    width: 466px;
    height: 392px;
    gap: 25px;
}
.potable {
    width: 466px;
    height: 360px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.bar-phara {
    width: 682px;
    height: 156px;
    gap: 20px;
}
.images {
    width: 500px;
    gap: 9px;
}
.wastewater {
    width: 466px;
    height: 360px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.hot {
    width: 466px;
    height: 360px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.gas {
    width: 466px;
    height: 360px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.images3 {
    width: 400px;
    height: 288px;
    gap: 8px;
}
.textare1 {
    width: 548px;
    height: 432px;
    gap: 30px;
}
.sec8-img1 {
    width: 548px;
    height: 565px;
}
.section-8 {
    height: 565px;
    padding-block: 144px;
    gap: 56px;
}
.sec8-img2 {
    width: 548px;
    height: 565px;
}
.wireless {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.textare2 {
    width: 548px;
    height: 432px;
    gap: 30px;
}
.voltage {
    width: 235px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
}
.electronics {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.network {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.structured {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.vertical {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.distribution {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.telecommunications {
    width: 548px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
}
.security {
    width: 119px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
}
.closed {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    width: 548px;
}
.access {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    width: 548px;
}
.alarms {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    width: 548px;
}
.sec-2head2 {
    width: 520px;
    height: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}
.project {
    width: 463px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -4%;
}
}

    @media (min-width: 993px) and (max-width: 1200px) {
        .section-1 {
            width: 1180px;
            padding: 60px 16px;
            gap: 40px;
        } 
        .navbar {
            height: 97px;
            left: 144px;
            padding: 16px 100px;
        }
        .line {
            width: 100%;
            max-width: 1066px;
            height: 1px;
            margin: 0 auto;
        }
        .heading-hero {
            margin-top: 15%;
            font-weight: 600;
            font-size: 40px !important;
            line-height: 48px;
            letter-spacing: 0%;
        }
        .child-1 {
            width: 520px;
            height: 280px;
            gap: 24px;
            
        }
        .parent {
            margin-top: 20px;
            width: 80%;
            height: 280;
            padding-inline: 144px;
            padding-bottom: 40px;
        }
        .client {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .expedited {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .quality {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .child-2 {
            width: 520px;
            height: 184px;
            gap: 24px;
        }
        .section-3 {
            width: 100%;
            height: 406px;
        }
        .section-4 {
            width: 85%;
            height: 658px;
            padding-block: 88px;
            padding-left: 104px;
        }
        .sec-4text {
            width: 466px;
            height: 392px;
            gap: 25px;
        }
        .calculation {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
            width: 466px;
      }
      .selection, .ductwork, .energy  {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 466px;
    }
    .section4-images {
        width: 614px;
        height: 480px;
        gap: 8px;
    }
    .sec4-img1 {
        width: 301px;
        height: 207px;
        top: -5px;
    }
    .sec4-img2 {
        width: 305px;
        height: 213px;
        top: -10px;
    }
    .sec-5text {
        width: 466px;
        height: 392px;
        gap: 25px;
    }
    .sec5-img1 {
        width: 243px;
        height: 207px;
        top: -5px;
    }
    .sec5-img2 {
        width: 242px;
        height: 213;
        top: -10px;
    }
    .sec5-img3 img {
        width: 554px;
        height: 280px;
    }
    .section5-images {
        width: 614px;
        height: 480px;
        gap: 8px;
    }
    .section-6 {
        width: 1050px;
        padding-top: 8px;
        padding-bottom: 88px;
        padding-left: 100px;
    }
    .sec-6text {
        width: 466px;
        height: 392px;
        gap: 25px;
    }
    .potable {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .bar-phara {
        width: 682px;
        height: 156px;
        gap: 20px;
    }
    .images {
        width: 500px;
        gap: 9px;
    }
    .wastewater {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .hot {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .gas {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .images3 {
        width: 400px;
        height: 288px;
        gap: 8px;
    }
    .textare1 {
        width: 548px;
        height: 432px;
        gap: 30px;
    }
    .sec8-img1 {
        width: 548px;
        height: 565px;
    }
    .section-8 {
        height: 565px;
        padding-block: 144px;
        gap: 56px;
    }
    .sec8-img2 {
        width: 548px;
        height: 565px;
    }
    .wireless {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .textare2 {
        width: 548px;
        height: 432px;
        gap: 30px;
    }
    .voltage {
        width: 235px;
        height: 32px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0%;
    }
    .electronics {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .network {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .structured {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .vertical {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .distribution {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .telecommunications {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .security {
        width: 119px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0%;
    }
    .closed {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .access {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .alarms {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .sec-2head2 {
        width: 520px;
        height: 40px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0%;
    }
    .project {
        width: 463px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
    }
      }
      @media (min-width: 1201px){
        .section-1 {
            width: 1180px;
            padding: 60px 16px;
            gap: 40px;
        } 
        .navbar {
            height: 97px;
            left: 144px;
            padding: 16px 100px;
        }
        .line {
            width: 100%;
            max-width: 1066px;
            height: 1px;
            margin: 0 auto;
        }
        .heading-hero {
            margin-top: 15%;
            font-weight: 600;
            font-size: 40px !important;
            line-height: 48px;
            letter-spacing: 0%;
        }
        .child-1 {
            width: 520px;
            height: 280px;
            gap: 24px;
        }
        .parent {
            margin-top: 20px;
            width: 80%;
            height: 280;
            padding-inline: 144px;
            padding-bottom: 40px;
        }
        .client {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .expedited {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .quality {
            width: 463px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
        }
        .child-2 {
            width: 520px;
            height: 184px;
            gap: 24px;
        }
        .section-3 {
            width: 100%;
            height: 406px;
        }
        .section-4 {
            width: 85%;
            height: 658px;
            padding-block: 88px;
            padding-left: 104px;
        }
        .sec-4text {
            width: 466px;
            height: 392px;
            gap: 25px;
        }
        .calculation {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -4%;
            width: 466px;
      }
      .selection, .ductwork, .energy  {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 466px;
    }
    .section4-images {
        width: 614px;
        height: 480px;
        gap: 8px;
    }
    .sec4-img1 {
        width: 301px;
        height: 207px;
        top: -5px;
    }
    .sec4-img2 {
        width: 305px;
        height: 213px;
        top: -10px;
    }
    .sec-5text {
        width: 466px;
        height: 392px;
        gap: 25px;
    }
    .sec5-img1 {
        width: 243px;
        height: 207px;
        top: -5px;
    }
    .sec5-img2 {
        width: 242px;
        height: 213;
        top: -10px;
    }
    .sec5-img3 img {
        width: 554px;
        height: 280px;
    }
    .section5-images {
        width: 614px;
        height: 480px;
        gap: 8px;
    }
    .section-6 {
        width: 1050px;
        padding-top: 8px;
        padding-bottom: 88px;
        padding-left: 100px;
    }
    .sec-6text {
        width: 466px;
        height: 392px;
        gap: 25px;
    }
    .potable {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .bar-phara {
        width: 682px;
        height: 156px;
        gap: 20px;
    }
    .images {
        width: 500px;
        gap: 9px;
    }
    .wastewater {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .hot {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .gas {
        width: 466px;
        height: 360px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .images3 {
        width: 400px;
        height: 288px;
        gap: 8px;
    }
    
    .textare1 {
        width: 548px;
        height: 432px;
        gap: 30px;
    }
    .sec8-img1 {
        width: 548px;
        height: 565px;
    }
    .section-8 {
        height: 565px;
        padding-block: 144px;
        gap: 56px;
    }
    .sec8-img2 {
        width: 548px;
        height: 565px;
    }
    .wireless {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .textare2 {
        width: 548px;
        height: 432px;
        gap: 30px;
    }
    .voltage {
        width: 235px;
        height: 32px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0%;
    }
    .electronics {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .network {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .structured {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .vertical {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .distribution {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .telecommunications {
        width: 548px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
    }
    .security {
        width: 119px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0%;
    }
    .closed {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .access {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .alarms {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -4%;
        width: 548px;
    }
    .sec-2head2 {
        width: 520px;
        height: 40px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0%;
    }
    .project {
        width: 463px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -4%;
    }
      }